:root {
  --green: #6aaa64;
  --grey: #787c7e;
  --yellow: #c9b458;
  --gold: #fcc419;
  --orange: #fd7e14;
  --black: #1a1a1b;
  --light-grey: #d3d6da;
  --font-primary: #1a1a1b;
  --font-secondary: white;
  --grey-primary: #d3d6da;
  --grey-secondary: #787c7e;
  --font-key: white;
}
.dark {
  --font-primary: #f3f3f3;
  --font-secondary: #1a1a1b;
  --grey-primary: #787c7e;
  --grey-secondary: #3e3e3e;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--font-primary);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  gap: 16px;
}
.dark {
  background-color: rgb(26, 26, 26);
}
.error-message {
  font-weight: bold;
  position: absolute;
  z-index: 10;
  top: 6rem;
  background-color: var(--font-primary);
  color: var(--font-secondary);
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  visibility: visible;
  opacity: 1;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s linear;
}
.main-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(95%, 25rem);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--grey-primary);
}
.tools-left {
  display: flex;
  gap: 16px;
}
.settings-btn,
.instruction-btn,
.stats-btn {
  width: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.settings-btn svg,
.instruction-btn svg {
  width: 25px;
  fill: var(--grey);
}
.stats-btn {
  width: auto;
  gap: 6px;
}
.stats-btn svg {
  width: 30px;
  fill: var(--orange);
}
.stats-btn.grey svg {
  fill: var(--grey);
}
.current-streak {
  font-weight: bold;
  font-size: 1.4rem;
}
.title {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--font-primary);
}
.title::first-letter {
  color: var(--green);
}
.title span {
  color: var(--yellow);
}
.title::after {
  content: "BETA";
  position: absolute;
  font-size: xx-small;
  color: var(--black);
  background-color: rgb(247, 247, 68);
  padding: 2px 4px;
}

.settings-container {
  position: absolute;
  top: 0;
  height: 100dvh;
  width: 100%;
  background-color: var(--font-secondary);
  color: var(--font-primary);
  transition: visibility 0.1s ease-in-out, opacity 0.1s linear;
}
.settings-main {
  width: min(95%, 20rem);
  margin-left: auto;
  margin-right: auto;
}
.settings-head {
  display: flex;
  justify-content: space-between;
  padding-block: 16px;
}
.settings-title {
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.settings-close {
  cursor: pointer;
  width: 25px;
}
.settings-close svg {
  width: 25px;
}
.setting-single {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
.setting-label {
  font-weight: 500;
}
.setting-input select {
  background-color: var(--font-secondary);
  cursor: pointer;
  border-radius: 5px;
  padding: 2px 4px;
}
.overlay {
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #787c7e49;
}
.model {
  position: relative;
  padding: 10px;
  padding-block: 30px;
  width: min(90%, 25rem);
  background-color: var(--font-secondary);
  color: var(--font-primary);
  border-radius: 8px;
}
.model-header {
  display: flex;
  justify-content: space-between;
}
.model-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.model-close {
  width: 25px;
}
.model-close svg {
  cursor: pointer;
}
.stats-all {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.stats-single {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70px;
}
.stats-single-main {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}
.stats-icon {
  display: flex;
  align-items: center;
}
.stats-num {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
}
.stats-title {
  font-size: 12px;
  width: 50px;
}
.stats-icon svg {
  width: 20px;
}
.stats-icon.yellow svg {
  fill: var(--yellow);
}
.stats-icon.gold svg {
  fill: var(--gold);
}
.stats-icon.orange svg {
  fill: var(--orange);
}
.stats-icon.grey svg {
  fill: var(--grey);
}
.stats-icon.outline svg {
  width: 20px;
  stroke: var(--green);
  fill: none;
}
.guesses-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 20px;
}
.guesses-title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
.guesses-graph-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 70%;
}
.guesses-single {
  display: flex;
  justify-content: start;
  gap: 5px;
  width: 100%;
  font-size: 14px;
}
.dist-row {
  display: flex;
  align-items: center;
  height: 22px;
}
.graph-single {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 22px;
  width: 50%;
  padding-inline: 6px;
  background-color: var(--grey-secondary);
}
.graph-num {
  font-weight: 500;
  color: #f3f3f3;
}
.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.game-container .row {
  display: flex;
  gap: 5px;
}
.letter p {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-primary);
  border: 2px solid var(--grey-primary);
  width: 3rem;
  height: 3rem;
}
.letter.active p {
  border: 2px solid var(--grey-secondary);
  animation: zoomin 0.1s ease-in-out;
}
@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.letter.active.shake p {
  animation: horizontal-shaking 0.3s;
}
.letter.green p {
  background-color: var(--green);
  border: 2px solid var(--green);
  color: var(--font-key);
  animation: flip-green 0.8s ease forwards;
}

.letter.yellow p {
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  color: var(--font-key);
  animation: flip-yellow 0.8s ease forwards;
}
.letter.wrong p {
  background-color: var(--grey-secondary);
  border: 2px solid var(--grey-secondary);
  color: var(--font-key);
  animation: flip 0.8s ease forwards;
}
@keyframes flip-green {
  0% {
    transform: scaleY(1);
    color: var(--font-primary);
    background: none;
    border: 2px solid var(--grey-secondary);
  }
  50% {
    color: var(--font-primary);
    background: none;
    border: 2px solid var(--grey-secondary);
    transform: scaleY(0);
  }
  51% {
    color: var(--font-key);
    background: var(--green);
    border: 2px solid var(--green);
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
    color: var(--font-key);
    background: var(--green);
    border: 2px solid var(--green);
  }
}
@keyframes flip-yellow {
  0% {
    transform: scaleY(1);
    color: var(--font-primary);
    background: none;
    border: 2px solid var(--grey-secondary);
  }
  50% {
    color: var(--font-primary);
    background: none;
    border: 2px solid var(--grey-secondary);
    transform: scaleY(0);
  }
  51% {
    color: var(--font-key);
    background: var(--yellow);
    border: 2px solid var(--yellow);
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
    color: var(--font-key);
    background: var(--yellow);
    border: 2px solid var(--yellow);
  }
}
.keyboard {
  width: min(95%, 400px);
  display: flex;
  flex-direction: column;
  padding-inline: 4px;
  gap: 0.4rem;
  touch-action: manipulation;
}
.key-row {
  display: flex;
  gap: 0.4rem;
  width: 100%;
  justify-content: center;
}
.key-row:nth-child(2)::after {
  content: " ";
  width: 35%;
}
.key-row:nth-child(2)::before {
  content: " ";
  width: 35%;
}
.key {
  width: 100%;
  border: none;
  background: none;
}
.key p,
.key.backspace {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2rem;
  padding-inline: 8px;
  font-weight: 500;
  color: var(--font-primary);
  fill: var(--font-primary);
  background-color: var(--grey-primary);
  cursor: pointer;
  border-radius: 4px;
}
@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.key.green p {
  background-color: var(--green);
  color: white;
}
.key.yellow p {
  background-color: var(--yellow);
  color: white;
}
.key.wrong p {
  background-color: var(--grey-secondary);
  color: white;
}
.key.restart p {
  background-color: #f03e3e;
  box-shadow: 0px 0px 5px 0px #f03e3eb8;
  color: white;
}
