:root {
  --green: #6aaa64;
  --grey: #787c7e;
  --yellow: #c9b458;
  --black: #1a1a1b;
  --light-grey: #d3d6da;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #1a1a1b;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  gap: 16px;
}
.error-message {
  /* display: block; */
  font-weight: bold;
  position: absolute;
  z-index: 10;
  top: 6rem;
  background-color: var(--black);
  color: white;
  padding: 0.8rem 1rem;
  border-radius: 0.4rem;
  visibility: visible;
  opacity: 1;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s linear;
  /* display: none; */
}
.title {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--black);
}
.title::first-letter {
  color: var(--green);
}
.title span {
  color: var(--yellow);
}
.title::after {
  content: "BETA";
  position: absolute;
  font-size: xx-small;
  background-color: rgb(247, 247, 68);
  padding: 2px 4px;
}
.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.game-container .row {
  display: flex;
  gap: 5px;
}
.letter p {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--light-grey);
  width: 3rem;
  height: 3rem;
  /* background-color: rgb(199, 199, 199); */
}
.letter.active p {
  border: 2px solid var(--grey);
}
.letter.green p {
  background-color: var(--green);
  border: 2px solid var(--green);
  color: white;
}
.letter.yellow p {
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  color: white;
}
.letter.wrong p {
  background-color: var(--grey);
  border: 2px solid var(--grey);
  color: white;
}
.keyboard {
  width: min(95%, 400px);
  display: flex;
  flex-direction: column;
  padding-inline: 4px;
  gap: 0.4rem;
  touch-action: manipulation;
}
.key-row {
  display: flex;
  gap: 0.4rem;
  width: 100%;
  justify-content: center;
}
.key {
  width: 100%;
  border: none;
}
.key p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2rem;
  padding-inline: 8px;
  background-color: var(--light-grey);
  cursor: pointer;
  border-radius: 4px;
}
.key.green p {
  background-color: var(--green);
  color: white;
}
.key.yellow p {
  background-color: var(--yellow);
  color: white;
}
.key.wrong p {
  background-color: var(--grey);
  color: white;
}
.key.restart p {
  background-color: red;
  box-shadow: 0px 0px 5px 0px rgba(255, 41, 41, 0.69);
  color: white;
}
